USE [master]
GO
/****** Object:  Database [HotelRud]    Script Date: 11/26/2022 6:05:03 PM ******/
CREATE DATABASE [HotelRud]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Hotel', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Hotel.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10%)
 LOG ON 
( NAME = N'Hotel_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Hotel_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HotelRud].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HotelRud]
GO
/****** Object:  Table [dbo].[Countries]    Script Date: 11/26/2022 6:05:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Countries](
	[CountryCode] [varchar](3) NOT NULL,
	[Name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Countries] PRIMARY KEY CLUSTERED 
(
	[CountryCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hotel]    Script Date: 11/26/2022 6:05:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hotel](
	[HotelID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Stars] [int] NOT NULL,
	[CountryCode] [varchar](3) NOT NULL,
 CONSTRAINT [PK_Hotel] PRIMARY KEY CLUSTERED 
(
	[HotelID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HotelImage]    Script Date: 11/26/2022 6:05:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HotelImage](
	[ImageID] [int] IDENTITY(1,1) NOT NULL,
	[HotelID] [int] NOT NULL,
	[ImageSource] [varchar](200) NOT NULL,
 CONSTRAINT [PK_HotelImage] PRIMARY KEY CLUSTERED 
(
	[ImageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 11/26/2022 6:05:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[ID] [int] NOT NULL,
	[Title] [nvarchar](50) NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TourHotel]    Script Date: 11/26/2022 6:05:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TourHotel](
	[HotelID] [int] NOT NULL,
	[TourID] [int] NOT NULL,
 CONSTRAINT [PK_TourHotel] PRIMARY KEY CLUSTERED 
(
	[HotelID] ASC,
	[TourID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tours]    Script Date: 11/26/2022 6:05:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tours](
	[TourID] [int] IDENTITY(1,1) NOT NULL,
	[ValueOfTickets] [int] NULL,
	[Name] [varchar](50) NULL,
	[ImagePreview] [nvarchar](500) NULL,
	[Price] [decimal](10, 2) NULL,
	[IsActual] [nchar](16) NULL,
 CONSTRAINT [PK_Tours] PRIMARY KEY CLUSTERED 
(
	[TourID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TourTypes]    Script Date: 11/26/2022 6:05:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TourTypes](
	[TourID] [int] NOT NULL,
	[TypeID] [int] NOT NULL,
 CONSTRAINT [PK_TourTypes] PRIMARY KEY CLUSTERED 
(
	[TourID] ASC,
	[TypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Types]    Script Date: 11/26/2022 6:05:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Types](
	[TypeID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[Description] [varchar](50) NULL,
 CONSTRAINT [PK_Types] PRIMARY KEY CLUSTERED 
(
	[TypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 11/26/2022 6:05:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[ID] [int] NOT NULL,
	[Login] [nvarchar](50) NULL,
	[RoleID] [int] NULL,
	[Password] [nvarchar](50) NULL,
	[photo] [nvarchar](100) NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Countries] ([CountryCode], [Name]) VALUES (N'AD', N'Andorra')
INSERT [dbo].[Countries] ([CountryCode], [Name]) VALUES (N'AE', N'United Arab Emirates')
INSERT [dbo].[Countries] ([CountryCode], [Name]) VALUES (N'AF', N'Afghanistan')
GO
SET IDENTITY_INSERT [dbo].[Hotel] ON 

INSERT [dbo].[Hotel] ([HotelID], [Name], [Stars], [CountryCode]) VALUES (2, N'Hotel Artemide', 5, N'ES')
INSERT [dbo].[Hotel] ([HotelID], [Name], [Stars], [CountryCode]) VALUES (3, N'H10 Madison', 4, N'FI')
INSERT [dbo].[Hotel] ([HotelID], [Name], [Stars], [CountryCode]) VALUES (4, N'A Room With A View', 3, N'ES')
SET IDENTITY_INSERT [dbo].[Hotel] OFF
GO
INSERT [dbo].[Role] ([ID], [Title]) VALUES (1, N'Admin')
INSERT [dbo].[Role] ([ID], [Title]) VALUES (2, N'Manager')
INSERT [dbo].[Role] ([ID], [Title]) VALUES (3, N'MustafaKebab')
GO
SET IDENTITY_INSERT [dbo].[Tours] ON 

INSERT [dbo].[Tours] ([TourID], [ValueOfTickets], [Name], [ImagePreview], [Price], [IsActual]) VALUES (1, 127, N'?????????? ????????', N'C:\Users\Администратор\Downloads\Demoekzamen-main\0 WorldSkills\6_Working with unstructured data\Tours Photo\Болгарское наследие.png', CAST(35700.00 AS Decimal(10, 2)), N'1               ')
INSERT [dbo].[Tours] ([TourID], [ValueOfTickets], [Name], [ImagePreview], [Price], [IsActual]) VALUES (2, 92, N'????????? ??????', N'C:\Users\Администратор\Downloads\Demoekzamen-main\0 WorldSkills\6_Working with unstructured data\Tours Photo\Волшебный Восток.png', CAST(77100.00 AS Decimal(10, 2)), N'1               ')
INSERT [dbo].[Tours] ([TourID], [ValueOfTickets], [Name], [ImagePreview], [Price], [IsActual]) VALUES (3, 72, N'????? ? ???????? ?????????
', N'C:\Users\Администратор\Downloads\Demoekzamen-main\0 WorldSkills\6_Working with unstructured data\Tours Photo\Город с большими амбициями.png', CAST(93300.00 AS Decimal(10, 2)), N'1               ')
SET IDENTITY_INSERT [dbo].[Tours] OFF
GO
INSERT [dbo].[TourTypes] ([TourID], [TypeID]) VALUES (1, 25)
INSERT [dbo].[TourTypes] ([TourID], [TypeID]) VALUES (1, 26)
INSERT [dbo].[TourTypes] ([TourID], [TypeID]) VALUES (1, 27)
GO
SET IDENTITY_INSERT [dbo].[Types] ON 

INSERT [dbo].[Types] ([TypeID], [Name], [Description]) VALUES (25, N'????????????? ?????? ', NULL)
INSERT [dbo].[Types] ([TypeID], [Name], [Description]) VALUES (26, N'???????-??????????????? ???? ', NULL)
INSERT [dbo].[Types] ([TypeID], [Name], [Description]) VALUES (27, N'??????? ????', NULL)
SET IDENTITY_INSERT [dbo].[Types] OFF
GO
INSERT [dbo].[User] ([ID], [Login], [RoleID], [Password], [photo]) VALUES (1, N'Admin', 1, N'54321', N'\Resources\userphoto.png')
INSERT [dbo].[User] ([ID], [Login], [RoleID], [Password], [photo]) VALUES (2, N'Manager1', 2, N'322', N'\Resources\userphoto.png')
INSERT [dbo].[User] ([ID], [Login], [RoleID], [Password], [photo]) VALUES (3, N'RudakovObj', 3, N'55555', N'\Resources\userphoto.png')
GO
ALTER TABLE [dbo].[Hotel]  WITH CHECK ADD  CONSTRAINT [FK_Hotel_Countries] FOREIGN KEY([CountryCode])
REFERENCES [dbo].[Countries] ([CountryCode])
GO
ALTER TABLE [dbo].[Hotel] CHECK CONSTRAINT [FK_Hotel_Countries]
GO
ALTER TABLE [dbo].[HotelImage]  WITH CHECK ADD  CONSTRAINT [FK_HotelImage_Hotel] FOREIGN KEY([HotelID])
REFERENCES [dbo].[Hotel] ([HotelID])
GO
ALTER TABLE [dbo].[HotelImage] CHECK CONSTRAINT [FK_HotelImage_Hotel]
GO
ALTER TABLE [dbo].[TourHotel]  WITH CHECK ADD  CONSTRAINT [FK_TourHotel_Hotel] FOREIGN KEY([HotelID])
REFERENCES [dbo].[Hotel] ([HotelID])
GO
ALTER TABLE [dbo].[TourHotel] CHECK CONSTRAINT [FK_TourHotel_Hotel]
GO
ALTER TABLE [dbo].[TourHotel]  WITH CHECK ADD  CONSTRAINT [FK_TourHotel_Tours] FOREIGN KEY([TourID])
REFERENCES [dbo].[Tours] ([TourID])
GO
ALTER TABLE [dbo].[TourHotel] CHECK CONSTRAINT [FK_TourHotel_Tours]
GO
ALTER TABLE [dbo].[TourTypes]  WITH CHECK ADD  CONSTRAINT [FK_TourTypes_Tours] FOREIGN KEY([TourID])
REFERENCES [dbo].[Tours] ([TourID])
GO
ALTER TABLE [dbo].[TourTypes] CHECK CONSTRAINT [FK_TourTypes_Tours]
GO
ALTER TABLE [dbo].[TourTypes]  WITH CHECK ADD  CONSTRAINT [FK_TourTypes_Types] FOREIGN KEY([TypeID])
REFERENCES [dbo].[Types] ([TypeID])
GO
ALTER TABLE [dbo].[TourTypes] CHECK CONSTRAINT [FK_TourTypes_Types]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Role] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Role] ([ID])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Role]
GO
USE [master]
GO
